{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the dichotomous question type.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:
data.displayTF - displays true/false options if true otherwise Y/N
data.options - the options available to select
options.question_no - the question number
options.optionno - the option number
options.useranswer  - the users previous answer
options.abstain - display abstain method if true
options.optiontext - the text of the option
options.displayoptionmedia - flag to indicate if media can be displayed for the option
options.optionmedia - the option media
data.partid - the question part id
#}
<div>
    <div class="question-container">
        <div class="question-header">
            <div class="question-cell question-label"></div>
            <div aria-hidden="true" id="q{{data.questionno}}yes" class="question-cell question-label dichotomous-note">
{% if data.displayTF %}
                {{lang.true}}
{% else %}
                {{lang.yes}}
{% endif %}
            </div>
            <div aria-hidden="true" id="q{{data.questionno}}no" class="question-cell question-label dichotomous-note">
{% if data.displayTF %}
                {{lang.false}}
{% else %}
                {{lang.no}}
{% endif %}
            </div>
{% if data.displayAbstain %}
            <div id="q{{data.questionno}}abstain" class="question-cell question-label dichotomous-note">
                {{lang.abstain}}
            </div>
{% endif %}
        </div>
{% for i,p in data.options %}
        <ul id="q{{p.question_no}}_opt{{p.optionno}}" class="question-row {% if p.unanswered %} unans{% endif %}">
            <li class="question-cell question-label">
            {% if p.optiontext != '' %}
                {{p.optiontext}}<br />
            {% endif %}
            {% if p.displayoptionmedia %}
                {% include 'paper/media.html' with {'data': p.optionmedia} %}
            {% endif %}
            </li>
            <li class="question-cell">
                <input aria-labelledby="q{{data.questionno}}yes" type="radio" name="{{p.optionno}}" value="t" {% if p.useranswer == 't' %} checked="checked" {% endif %}/>
            </li>
            <li class="question-cell">
                <input aria-labelledby="q{{data.questionno}}no" type="radio" name="{{p.optionno}}" value="f" {% if p.useranswer == 'f' %} checked="checked" {% endif %}/>
            </li>
    {% if p.abstain %}
            <li class="question-cell">
                <input aria-labelledby="q{{data.questionno}}abstain" type="radio" name="{{p.optionno}}" value="a" {% if p.useranswer == 'a' %} checked="checked" {% endif %}/>
            </li>
    {% endif %}
        </ul>
{% endfor %}
    </div>
</div>
