{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the script concordance test type display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.assignednumber - question number
data.displaycalc - flag to indicate if there is calculator to display
data.displaynotes - flag to indicate if there are notes to display
data.notes - notes
data.scenario - scenario
data.displaymedia - flag to indicate if there is media to display
data.scttitle - title
data.scthyp - hypothesis
data.sctinfo - information
data.scttitlelower - title in lowercase
data.unanswered - flag to indicate if the question has been answered previously
data.options - options
options.position - option part id
options.optiontext - option text
data.dismiss - record of which options have been dismissed by the user

Required localised text -
lang.clinicalvignette - vignette
lang.calculator - calculator
lang.note - note
lang.newinformation - new information

#}
{% if data.displayscenario %}
<div class="question-{{data.questiontype}} question-parent">
    <div class="q_no">
        {{data.assignednumber}}.&nbsp;
        {% if data.displaycalc %}
        <br />
        <img class="sciCalculator" src="{{path}}/artwork/calc.png" alt="{{lang.calculator}}" />
        {% endif %}
    </div>
    <div class="questionblock">
        {% if data.displaynotes %}
        <p class="note">
            <img src="{{path}}/artwork/notes_icon.gif" width="16" height="16" alt="{{lang.note}}" />&nbsp;<strong>{{lang.note}}:</strong>&nbsp;{{data.notes}}
        </p>
        {% endif %}
        <div class="sctbanner basetheme">
            {{lang.clinicalvignette}}
        </div>
        {{data.scenario|raw}}<br /><br />
{% endif %}
{% if data.displaymedia %}
    <p align="center">
        {% include 'paper/media.html' %}
    </p>
{% endif %}
<div class="sct question-container">
    <div class="scthyp">
        <div class="sctbanner basetheme">
            {{data.scttitle}}
        </div>
        <div>
            {{data.scthyp|raw}}
        </div>
        <p>
            <strong>
                {{data.scttitlelower}}
            </strong>
        </p>
        <div {% if data.unanswered %} class="unans" {% endif %}>
            <ul>
                {% for i,p in data.options %}
                <li class="question-cell">
                    {% if p.optiontextdisplay %}
                    <label class="optiontext">
                        <input type="radio" id="{{p.optionno}}" name="q{{data.questionno}}" value="{{p.position}}" {% if p.selected %} checked="checked" {% endif %} />
                        <span {% if p.inact %} class="inact" {% else %} class="act" {% endif %} id="{{data.questionno}}_{{i}}">{{p.optiontext}}</span>
                    </label>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div>
                <input type="hidden" name="dismiss{{data.questionno}}" id="dismiss{{data.questionno}}" value="{{data.dismiss}}" />
            </div>
        </div>
    </div>
    <div class="sctspacer">&nbsp;</div>
    <div class="sctinfo">
        <div class="sctbanner basetheme">
            {{lang.newinformation}}
        </div>
        <div>
            {{data.sctinfo|raw}}
        </div>
    </div>
</div>
