{#This file is part of Rogō

Rogō is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Rogō is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for a year tab section.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2020 onwards The University of Nottingham

Required variables:
data - tab data from generateTabs->drawTabs
#}
<table class="calyeartabs" cellpadding="0" cellspacing="0" border="0">
    <tr>
        {% for idx, info in data %}
        <td {% if info.selected %}class="tabon"{% else %}class="taboff"{% endif %} data-url="{{info.url}}">
            {{info.tabyear}}
        </td>
        {% endfor %}
    </tr>
</table>
