{#This file is part of Rogō

Rogō is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Rogō is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the master question display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables -
data.icon - the notice icon
data.titlecolour - the colour of the notice title
data.msg - the notice message

Required localised strings -
lang.title -
#}
<main class="notice">
    <div class="icon">
        <img src="{{path}}{{data.icon}}" width="48" height="48" alt=""/>
    </div>
    <div>
        <h1 style="color:{{data.titlecolour}}">{{lang.title}}</h1>
        <hr class="msgline"/>
        <p id="noticemsg">{{data.msg|raw}}</p>
    </div>
</main>
