.t {
  color:black;
  text-decoration:none
}
.col {
  padding-left:5px !important;
  vertical-align:top;
}
.col10 {
  padding-left:10px !important;
  vertical-align:top;
}
.col30 {
  padding-left:30px !important;
  vertical-align:top;
}
.l:hover {
  cursor:pointer;
  background-color:#FFE7A2;
}
.highlight {
  background-color:#FFBD69 !important
}
.deleted {
  color:#808080;
}
.no {
  text-align:right;
  padding-right:10px
}
th.headerSortUp { 
  border-bottom: 3px solid #FFBD69 !important;
  font-weight: bold;
  background-image: url('../artwork/asc.gif');
  background-repeat: no-repeat;
  background-position: center right;
}
th.headerSortDown { 
  border-bottom: 3px solid #FFBD69 !important;
  font-weight: bold;
  background-image: url('../artwork/desc.gif');
  background-repeat: no-repeat;
  background-position: center right;
}

#maindata thead tr th.vert_div.header.headerSortUp {
  border-bottom: 3px solid #FFBD69 !important;
  font-weight: bold;
  background-image: url('../artwork/asc.gif');
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 10px !important;
}

#maindata thead tr th.vert_div.header.headerSortDown {
  border-bottom: 3px solid #FFBD69 !important;
  font-weight: bold;
  background-image: url('../artwork/desc.gif');
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 10px !important;
}

th.header { 
  border-bottom: 3px solid white;
  cursor: pointer;
  padding-right: 15px;
}
td {
  padding-left: 5px;
}

.pagecount {
  padding-left: 1em;
}

.pageselected {
  font-weight: bold;
}

.navigation {
  display: inline-flex;
  align-items: baseline;
}

ol {
  padding-left: 0;
  margin: 0;
}

.tab {
  padding-left: 0.5em;
}
