body {
  background-color:#F1F5FB;
  margin: 4px;
  font-size: 80%;
}
h2 {
  font-size:100%;
  margin: 8px 0 0 0;
}
input[type="text"] {
  margin: 0;
}
input[type="checkbox"] {
	margin-left: 25px;
}
label {
  margin-left: 6px;
}
.r1 {
  background-color: white;
}
.r2 {
  background-color: #FFBD69;
}
.icon {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  vertical-align: top;
  width: 98px;
  height: 74px;
  font-size: 8pt;
  background-repeat: no-repeat;
}
.titlebar {
  background-color: #295AAD;
  color: white;
  padding: 4px;
}
#warning {
  display: none;
  margin: 18px auto;
  padding: 16px;
  width: 90%;
  height: 10%;
  text-align: center;
  background-color: #FFD9D9;
  color: #800000;
  border: 2px solid #800000;
}
.ok {
  margin-right: 0;
  margin-top: 10px;
}

