{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the matrix question type.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.matchoptions - the options
matchoptions.option - option text
matchoptions.value - option value
matchoptions.selected - flag to indicate if option has previously been selected
data.matchscenarios - option scenarios
matchscenarios.id - scenario id
matchscenarios.value - scenario value
matchscenarios.unanswered - flag to indicate if option has previously been answered
data.questionno - question number
data.print - flag to indicate if printing question
#}
{# To ensure correct page breaking when printed use display table #}
{% if data.print %}
<div class="matrix question-container">
    <div aria-hidden="true" class="question-header">
        <div class="question-empty-cell"></div>
        <div class="question-empty-cell"></div>
{% for m in data.matchoptions %}
        <div class="question-empty-cell matrixborder">{{m.option}}</div>
{% endfor %}
    </div>
{% for i,s in data.matchscenarios %}
    <div class="question-row matrixborder {% if s.unanswered %} unans {% endif %}">
        <div aria-hidden="true" class="question-placeholder-cell question-emptycell matrixborder" align="right">{{s.id}}.</div>
        <div aria-hidden="true" class="question-placeholder-cell question-emptycell matrixborder">{{s.value}}</div>
    {% for m in data.matchoptions %}
        <div class="question-cell matrixborder">
            <div align="center">
                <input aria-label="{{s.value}} {{lang.matches}} {{m.option}}" type="radio" name="q{{data.questionno}}_{{i+1}}" value="{{m.value}}" {% if m.selected[i+1] %} checked="checked" {% endif %}/>
            </div>
        </div>
    {% endfor %}
    </div>
{% endfor %}
</div>
{% else %}
<table class="matrix matrixtable">
    <thead>
        <tr>
            <th class="question-empty-cell"></th>
            <th class="question-empty-cell"></th>
            {% for m in data.matchoptions %}
            <th class="question-empty-cell matrixborder" scope="col">{{m.option}}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for i,s in data.matchscenarios %}
    <tr {% if s.unanswered %} class="unans"{% endif %}>
        <th class="question-emptycell matrixborder" aria-hidden="true" align="right">{{s.id}}.</th>
        <th class="question-emptycell matrixborder" scope="row">{{s.value}}</th>
        {% for m in data.matchoptions %}
        <td class="question-cell matrixborder">
            <div align="center">
                <input aria-label="{{lang.matrixanswer}}" type="radio" name="q{{data.questionno}}_{{i+1}}" value="{{m.value}}" {% if m.selected[i+1] %} checked="checked" {% endif %}/>
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
